{% extends 'base.html.twig' %}

{% block title %}Sensor index{% endblock %}

{% block content %}
    <h1>Sensor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>KeyCode</th>
                <th>Unit</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.keyCode }}</td>
                <td>{{ sensor.unit }}</td>
                <td>{{ sensor.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('sensor_show', {'id': sensor.id}) }}" class="btn btn-outline-primary"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('sensor_edit', {'id': sensor.id}) }}" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sensor_new') }}">Create new</a>
{% endblock %}
